
.input__info {
    margin-bottom: 10px;
  }
  
  .input__info p {
    margin-bottom: 8px;
  }
  
  .input__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pure-white);
    height: 70px;
    padding-inline: 30px;
    border: 1px solid var(--borders);
    border-radius: 12px;
    margin-bottom: 16px;
  }
  
  .input__number {
    font-weight: 500;
    width: 140px;
    font-size: 24px;
  }  
  
  .input__units {
    font-weight: 500;
    width: 48px;
    font-size: 24px;
    color: var(--blue);
  }

  
@media only screen and (min-width: 768px) {
    .input__info-container.metric { 
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
      }
    
      .input__info {
        width: 299px;
        margin-bottom: 0;
      }
    
      .input__row {
        margin-bottom: 0;
      }

      .input__number {
        padding: 2px; /* */
      }
}

  
@media only screen and (min-width: 1440px) {
    .input__row {
        width: 230px;
        justify-content: center;
        gap: 10px;
        padding: 0;
      }
    
      .input__number {
        width: 120px;
      }
    
      .input__units {
        width: 48px;
      }
}
